<div class="col-md-12">
  <%= label_tag :amenities ,'Amenities',class:"col-md-12 zero-left-right-padd", id: 'course_amenities' %>
  <div class="col-md-12">
      <div class="checkbox" >
      	<label>
	      	<%= a.check_box :restaurants, class: 'check-field' %>
	      	<span class="cr" style="margin-top:0;"><i class="cr-icon fa fa-check"></i></span>
	      	Restaurant 
	      	<%= image_tag "amenities/restaurant.png", class: 'caddies' %>
	    </label>
	  </div>
	  <div class="checkbox" >
      	<label>
	      	<%= a.check_box :caddies, class: 'check-field' %>
	      	<span class="cr"><i class="cr-icon fa fa-check"></i></span>
	      	Caddies
	      	<%= image_tag "amenities/caddies.png", class: 'caddies' %>
	    </label>
	  </div>
      <div class="checkbox" >
      	<label>
	      	<%= a.check_box :carts, class: 'check-field'  %>
	      	<span class="cr"><i class="cr-icon fa fa-check"></i></span>
	      	Carts
	      	<%= image_tag "amenities/carts.png", class: 'carts' %>
	    </label>
	  </div>
	  <div class="checkbox" >
      	<label>
	      	<%= a.check_box :practice_range, class: 'check-field'  %>
	      	<span class="cr"><i class="cr-icon fa fa-check"></i></span>
	      	Practice Range
	      	<%= image_tag "amenities/practice-range.png", class: 'practice-range' %>
	    </label>
	  </div>
      <div class="checkbox" >
      	<label>
	      	<%= a.check_box :golf_boards, class: 'check-field' %>
	      	<span class="cr"><i class="cr-icon fa fa-check"></i></span>
	      	Golf Boards
	      	<%= image_tag "amenities/golfboard.png", class: 'golfboard' %>
	    </label>
	  </div>
      
     

      
 <!--      <div ><%= a.check_box :golf_boards, class: 'check-field' %> Golf Boards <%= image_tag "amenities/golfboard.png", class: 'golfboard' %></div> -->
  </div>
</div>

<style type="text/css">
.caddies{
	width: 30px;
	height: 40px;
}
.carts {
	width: 40px;
	height: 30px;	
}
.practice-range{
	width: 50px;
	height: 45px;
}
.golfboard {
	width: 50px;
	height: 35px;
}

.checkbox .cr .cr-icon{
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

/*CheckBox Stylistics*/
.checkbox label input[type="checkbox"]{
    /*display: none;*/
    /*visibility: hidden;*/
    opacity: 0;
}
.checkbox label {
	font-size: 1em;
	padding-left: 0;
}
.checkbox label span{
	margin-top:6%;
	background: white;
}
	
 

.checkbox .cr{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon{
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

</style>
