<div class="col-md-12">
  <%= label_tag :amenities ,'Amenities',class:"col-md-12 zero-left-right-padd", id: 'course_amenities' %>
  <div class="col-md-12">
      <div class="inline"><%= a.check_box :restaurants, class: 'check-field' %> Restaurant</div>
      <div class="inline"><%= a.check_box :caddies, class: 'check-field' %> Caddies</div>
      <div class="inline"><%= a.check_box :carts, class: 'check-field' %> Carts</div>

      <div class="inline"><%= a.check_box :practice_range, class: 'check-field' %> Practice Range</div>
      <div class="inline"><%= a.check_box :golf_boards, class: 'check-field' %> Golf Boards</div>
  </div>
</div>
