
<div class="form-group"><%= f.text_field :par, class:"col-md-12 hole-field form-control", placeholder: "Par" %></div>
<div class="form-group"><%= f.text_field :yards, class:"col-md-12 hole-field form-control", placeholder: "Yards" %></div>
<div class="form-group"><%= f.text_field :mhcp, class:"col-md-12 hole-field form-control", placeholder: "Men HCP" %></div>
<div class="form-group"><%= f.text_field :whcp, class:"col-md-12 hole-field form-control", placeholder: "Women HCP"%></div>
<div class="form-group"><%= f.text_field :description, class:"col-md-12 hole-field form-control", placeholder: "Description"%></div>

<%= hole.hidden_field :hole_num, value: hole_num%>









