<div class="col-md-2 hole" id="hole_num_#{num}">
    <div class="col-md-12 zero-left-right-padd whole-num" style="color:green">
        <%="Hole #{num}"%>
    </div>
    <div><%= text_field_tag('par', value = nil, class:"col-md-12", placeholder: "Par")%></div>
    <div><%= text_field_tag('yards', value = nil, class:"col-md-12", placeholder: "Yards")%></div>
    <div><%= text_field_tag('men_hcp', value = nil, class:"col-md-12", placeholder: "Men HCP")%></div>
    <div><%= text_field_tag('women_hcp', value = nil, class:"col-md-12", placeholder: "Women HCP")%></div>
</div>