
  

  <!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.js"></script>-->


  <div class="row description">
    <div class="col-md-12 about">
      <div class="row">
        <div class="col-md-6">
          <h3><b class="home_title">About the Course</b></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 bio">
          <h4 class="hole_description"><%= @course.bio %></h4>
        </div>
      </div>
    </div>

    <div class="col-md-12 specs">
      <div class="row">
        <div class="col-md-6">
          <h3><b class="home_title">Course Specs</b></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="values"><h4 class="hole_description"><b>Holes:</b> <%= @course.holes.count %></h4></span>

          <span class="values"><h4 class="hole_description"><b>Par:</b> <%= @course.total_par %></h4></span>

          <span class="values"><h4 class="hole_description"><b>Slope:</b> <%= @course.slope %></h4></span>
        <!-- </div> -->
      <!-- </div>

      <div class="row"> -->
        <!-- <div class="col-md-6 "> -->
          <span class="values"><h4 class="hole_description"><b>Rating:</b> <%= @course.rating %></h4></span>

          <span class="values"><h4 class="hole_description"><b>Yards:</b> <%= @course.length %></h4></span>

          <!-- <span class="values"><h4>Tee Boxes: <%= @course.score_cards.count %></h4></span> -->
          <span class="values"><h4 class="hole_description"><b>Architect:</b> <%= @course.architect %></h4></span>
        </div>
      </div>
    </div>
    <div class="col-md-12 description2">
      <div class="row">
        <div class="col-md-12">
          <h3><b class="home_title">Amenities</b></h3>
        </div>
      </div>
      <div class="row amenity-wrap">
        <div class="col-md-12">



      <div class="responsive">
         <% @course.amenities.each do |amenity| %>

           <% if amenity.restaurants %>
             <div class="item active">
                <span class="amenity">
                  <%= image_tag "amenities/restaurant.png", class: 'restaurant' %>
                <h4 class="hole_description">Restaurant</h4></span>
             </div>
            <% end %>

            <% if amenity.caddies %>
            <div class="item">
                <span class="amenity">
                  <%= image_tag "amenities/caddies.png", class: 'caddies' %>
                <h4 class="hole_description">Caddies</h4></span>
            </div>
            <% end %>

           

            <% if amenity.carts %>
            <div class="item">
              <span class="amenity">
              <%= image_tag "amenities/carts.png", class: 'carts' %>
              <h4 class="hole_description">Carts</h4></span>
            </div>
            <% end %>

            <% if amenity.golf_boards %>
            <div class="item">
              <span class="amenity">
                <%= image_tag "amenities/golfboard.png", class: 'golfboard' %>
              <h4 class="hole_description">Golfboards</h4></span>
            </div>
            <% end %>

            <% if amenity.practice_range %>
            <div class="item">
              <span class="amenity">
                <%= image_tag "amenities/practice-range.png", class: 'practice-range' %>
              <h4 class="hole_description">Practice Range</h4></span>
            </div>
            <% end %>

            <% end%>


      </div>


        </div>
      </div>
    </div>
  </div>


  <div class="row slider">
    <div class="col-md-12 st1">
       <div class="btn-group btn-group-lg map-slecter">
        <button type="button" class="btn" id="select_photos">Photos</button>
        <button type="button" class="btn" id="select_map">Scorecard</button>
      </div>
      <ul id="map">
        <li><%=image_tag @course.score_card_image.url %></li>
      </ul>
      <ul id="slider" class="bxslider">
        <% @course.course_images.each do | courseimage | %>
          <li><%=image_tag courseimage.photo.url %></li>
        <% end%>
      </ul>
    </div>
    <div class="col-md-12 st2">
      <div class="row">
        <div class="col-md-12">
          <div class="divider">Scorecard</div>
          <%=image_tag @course.score_card_image.url %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="divider">Photos</div>
          <ul id="slider" class="bxslider">
            <% @course.course_images.each do | courseimage | %>
              <li><%=image_tag courseimage.photo.url %></li>
            <% end%>
          </ul>
         </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
$(document).ready(function(){
  $('.bxslider').bxSlider({
    mode: 'horizontal',
    useCSS: false,
    // infiniteLoop: false,
    // hideControlOnEnd: true,
    // // easing: 'easeOutElastic',
    // speed: 2000,
      pager: false,
      nextText: '<%= image_tag "right.png" %>',
      prevText: '<%= image_tag "left.png" %>'
   });


  $('.responsive').slick({
    dots: false,
    infinite: false,
    speed: 300,
    slidesToShow: 6,
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
});

});

$('#select_map').click(function (){
  $('.st1 .bx-wrapper').invisible();
  // $('#slider').hide();
  $('#select_photos').removeClass('selected');
  $('#select_photos').addClass('non-selected');

  $('#map').show();
  $('#select_map').removeClass('non-selected');
  $('#select_map').addClass('selected');

  // $('.bx-next').hide();
  // $('.bx-prev').hide();
});

$('#select_photos').click(function (){
  $('#map').hide();
  $('#select_map').removeClass('selected');
  $('#select_map').addClass('non-selected');

  $('.st1 .bx-wrapper').visible();
  // $('#slider').show();
  $('#select_photos').removeClass('non-selected');
  $('#select_photos').addClass('selected');

  // $('.bx-next').show();
  // $('.bx-prev').show();
});


(function($) {
    $.fn.invisible = function() {
        return this.each(function() {
            $(this).css("visibility", "hidden");
        });
    };
    $.fn.visible = function() {
        return this.each(function() {
            $(this).css("visibility", "visible");
        });
    };
}(jQuery));


$(document).ready(function() { $('#select_photos').trigger('click') });
// $(document).ready(function() { $('#select_photos').trigger('click') });
// $(document).ready(function() { setTimeout (function() { $('#select_map').trigger('click') }, 500)});

// $( window ).resize(function() {
//   if($(document).width() >760) $('.map-slecter').addClass("btn-group-lg");
//   else $('.map-slecter').removeClass("btn-group-lg");
// });



</script>
<style type="text/css">
.caddies{
  /*width: 50px;*/
  height: 35px;
}
.carts {
  /*width: 50px;*/
  height: 35px;
}
.practice-range{
  /*width: 50px;*/
  height: 35px;
}
.golfboard {
  /*width: 50px;*/
  height: 35px;
}
.restaurant{
  /*width: 50px;*/
  height: 35px;
  /*height: Auto;*/
  /*padding-right:5px; */
}
.bio {
  padding-right: 100px;
}
.architect {
  padding-left: 30px;
}
.about{

}

.st2 {
  display: none;
}
.st1 {
  padding: 0;
}
h3, h4 {
  margin: 0;
  margin-bottom: 5px;
  line-height: 1.4;
}
h3 {
  font-size: 20px;
}

h4 img {
  margin-right: 15px;
}
.selected{
  background: black;
  color: white !important;
}
.non-selected{
  background: white;
  color: black;
}
.map-slecter {
  position: absolute;
  z-index: 11;
  left:42%;
  top:50px;
}


#map{
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
#slider {
  position: absolute;
}
#map li img {
  width: 100%;
  height: 100%;
}

.bxslider {
    list-style:none;
    margin:0;
    padding:0
}

.bxslider li img {
  width: 100%;
  height: 100%;
}

.bx-next {
  position: absolute;
  right: 5%;
  top: 50%;
}
.bx-prev {
  position: absolute;
  left: 5%;
  top: 50%;
}
.description {
  width: 100%;
  padding-left: 50px;
  font-family: 'Avenir', serif;
}
.description2 {
  width: 100%;
  font-family: 'Avenir', serif;
}
.specs{
  text-align: left;
  /*padding-top: 30px;*/
  /*padding-right: 60px;*/
}

.values {
    display: inline-block;
    width: 30%;
    vertical-align: text-top;
}
.amenity {
    width: 100%;
    padding-right: 0px;
    display: inline-flex;
    padding-right: 0px;
}
.amenity img {
    height: 30px;
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.points h3 img {
  padding-bottom: 5px;

}
.justify{
  text-align: justify;
}
.slider {
  margin: 0;
  padding: 0;
}
.slick-prev, .slick-next {
    width: 20px;
    height: 30px !important;
}
.slick-prev:before, .slick-next:before,
.slick-dots {
    display:none !important;
}
.slick-next, .slick-next:hover, .slick-next:focus {
    background: url(http://localhost:3000/assets/right-green-6b38305b51fcaed2d6c882c4704b0fb8e70257fb8ded731c75532911760b59e7.png) no-repeat;
    right: -19px;
}
.slick-prev,.slick-prev:focus, .slick-prev:hover {
    background: url(http://localhost:3000/assets/left-green-dd2d8dfb7ebeaccfcece7f3e3cf6efd4ab2e7e7e0086fcf8330f2df971e215cb.png) no-repeat;
    left: -19px;
}
.slick-track {
    margin-left: 0px !important;
}



/*// 320, 480, 760, 960, 1200 and 1600px.*/
      @media only screen and (min-width: 1600px) {
        .description {
          padding-top: 50px;
          margin-bottom: 50px;
          padding-left: 45px;
        }
        .specs, .description2 {
          margin-top: 20px;
        }
        .values {
          width: auto;
          padding-right: 50px;
        }
        .values h4 {
          font-weight: normal;
        }


      }

      @media only screen and (max-width: 1599px) and (min-width: 1200px) {
        .description {
          padding-top: 30px;
          margin-bottom: 30px;
          padding-left: 45px;
        }
        /*.description h4{
          font-size: 15px;
        }*/
        .bx-next img, .bx-prev img {
          height: 60%;
          width: 60%;
        }
        .pp {
          width: 26%;
        }
        .specs, .description2 {
          margin-top: 20px;
        }
        .values {
          width: auto;
          padding-right: 50px;
        }
        .values h4 {
          font-weight: normal;
        }
      }

      @media only screen and (max-width: 1199px) and (min-width: 992px) {
        .description {
          padding-top: 30px;
          margin-bottom: 30px;
          padding-left: 45px;
        }
        /*.description h4{
          font-size: 13px;
        }*/
        .description h3{
          font-size: 20px;
        }
        .description2 h3{
          font-size: 20px;
        }
        .pp {
          width:26%;
        }
        .bx-next img, .bx-prev img {
          height: 60%;
          width: 60%;
        }
        .specs, .description2 {
          margin-top: 20px;
        }
        .values {
          width: auto;
          padding-right: 50px;
        }
        .values h4 {
          font-weight: normal;
        }
        .map-slecter {
          left: 40%;
        }

      }

@media only screen and (max-width: 1024px) {
      .amenity img {
          float: none; 
          margin-right: 0px;
      }
      .amenity {
          display: block;
          text-align: center;
      }
}

      @media only screen and (max-width: 991px) and (min-width: 760px) {
        .about{
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 2px solid lightgrey;
        }
        .description {
          text-align: center;
          padding-top: 30px;
          padding-left: 40px;
          margin-right: 30px;
        }
        .bio {
          padding-right: 10px;
        }
        .bx-next img, .bx-prev img {
          height: 60%;
          width: 60%;
        }
         .specs {
          text-align: center;
          width: 100%;
          display: table;
          table-layout: fixed;
          padding-right: 0;
          padding-left: 0;
          padding-bottom: 20px;
          border-bottom: 2px solid lightgrey;
          margin-bottom: 20px;
        }
        .amenity-wrap {
         padding-bottom: 30px;
        }

        .description2 {
          text-align: center;
          padding-left: 0px;
        }


        .points{
          display: table-cell;
        }
        .map-slecter {
          left:37%;
          top:50px;
        }
        .about h3, .specs h3, .description2 h3{
          min-height: 25px;
        }
        .home_title {
          left: 50%;
          position: absolute;
        }
        .about .home_title {
          margin-left: -75px;
        }
        .specs .home_title {
          margin-left: -56px;
        }
        .description2 .home_title {
          margin-left: -42px;
        }
      }
      @media only screen and (max-width: 759px) and (min-width: 480px) {

        .st2 {
          display: block;
          padding: 0;
        }
        .st2 .row {
          margin: 0;
        }
        .st2 .row .col-md-12{
          padding: 0;
        }
        .st1{
          display: none;
        }

        .st2 img{
          width: 100%;
          height: 100%;
        }
        .divider{
          text-align: center;
          width:100%;
          height: 45px;
          font-size: 20px;
          line-height: 2;
          color: white;
          background-image:url(<%= image_url "hole-selector-background.png" %>);
          background-size: 100% 100%;
        }
        .description {
          padding-top: 30px;
          margin-left: 0px;
          padding-left: 50px;
          padding-right: 50px;
          text-align: center;
        }
        .about, .specs{
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid lightgrey;
        }
        .bio {
          padding-left: 0px;
          padding-right: 0px;
        }
        .pp {
          width: 40%;
        }
        .amenity-wrap{
          padding-bottom: 40px;
        }
        .description h4{
          font-size: 14px;
        }
        .description h3{
          font-size: 17px;
        }
        .description2 h3{
          font-size: 17px;
        }
        .bx-next img, .bx-prev img {
          height: 60%;
          width: 60%;
        }
        .specs {
          text-align: center;
          width: 100%;
          display: table;
          table-layout: fixed;
          padding-right: 0;
          padding-left: 0;
        }
        .points{
          display: table-cell;
        }

        /*.map-slecter {
          left:35%;
          top:40px;
        }*/
        .map-slecter {
          display: none;
        }
        .description h3 {
          font-size: 18px;
        }
        .description h4 {
          font-size: 14px;
        }
        .about h3, .specs h3, .description2 h3{
          min-height: 25px;
        }
        .home_title {
          left: 50%;
          position: absolute;
        }
        .about .home_title {
          margin-left: -75px;
        }
        .specs .home_title {
          margin-left: -56px;
        }
        .description2 .home_title {
          margin-left: -42px;
        }
      }

      @media only screen and (max-width: 479px) {
        .st2 {
          display: block;
          padding:0;
        }
        .st1{
          display: none;
        }
        .st2 img{
          width: 100%;
          height: 100%;
        }
        .st2 .row {
          margin: 0;
        }
        .st2 .row .col-md-12{
          padding: 0;
        }

        .divider{
          text-align: center;
          width:100%;
          height: 40px;
          font-size: 20px;
          line-height: 2;
          color: white;
          background-image:url(<%= image_url "hole-selector-background.png" %>);
          background-size: 100% 100%;
        }
        .description {
          padding-top: 20px;
          margin-left: 0px;
          padding-left: 20px;
          padding-right: 20px;
          text-align: center;
        }
        .about{
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid lightgrey;
        }
        .bio {
          padding-left: 0px;
          padding-right: 0px;
        }
        .specs {
          padding-bottom: 20px;
          border-bottom: 1px solid lightgrey;
          margin-bottom: -20px;
        }
        .description2 {
          margin-top: 30px;
          padding-left: 50px;
          padding-right: 50px;
          text-align: center;
        }

        .caddies{
          /*width: 30px;*/
          height: 40px;
        }
        .carts {
          /*width: 40px;*/
          height: 40px;
        }
        .practice-range{
          /*width: 35px;*/
          height: 40px;
        }
        .golfboard {
          /*width: 50px;*/
          height: 40px;
        }
        .amenity-wrap{
          padding-bottom: 40px;
        }
        .description h4{
          font-size: 13px;
        }
        .description h3{
          font-size: 17px;
        }
        .description2 h4{
          font-size: 13px;
        }
        .description2 h3{
          font-size: 17px;
        }
        .bx-next img, .bx-prev img {
          height: 50%;
          width: 50%;
        }
        .specs {
          text-align: center;
          width: 100%;
          padding-right: 0;
        }

        .points{
          /*display: table-cell;*/
          display: inline-block;
        }

        /*.map-slecter {
          left:35%;
          top:40px;
        }*/
        .map-slecter {
          display: none;
        }

        .description h3 {
          font-size: 15px;
        }
        .description h4 {
          font-size: 13px;
        }
        .home_title {
          font-family: Avenir-Heavy;
          left: 50%;
          position: absolute;
        }
        .about .home_title {
          margin-left: -62.5px;
        }
        .specs .home_title {
          margin-left: -47px;
        }
        .description2 .home_title {
          margin-left: -35px;
        }
        .hole_description{
          font-family: Avenir-Book;
        }
        .about h3, .specs h3, .description2 h3{
          min-height: 25px;
        }
      }

      @media only screen and (min-width: 480px) {
        .home_title {
          font-size: 18px;
          font-family: Avenir-Heavy;
        }
        .hole_description{
          font-size: 16px;
          font-family: Avenir-Book;
        }
      }

</style>
