<%= @holes.each do |hole| %>

<p>
  <strong>Par:</strong>
  <%= hole.par %>
</p>

<p>
  <strong>Yards:</strong>
  <%= hole.yards %>
</p>

<p>
  <strong>Mhcp:</strong>
  <%= hole.mhcp %>
</p>

<p>
  <strong>Whcp:</strong>
  <%= hole.whcp %>
</p>

<% end %>

