<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url(<%= asset_url('preloader.gif') %>);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
  }

.vjs-resize-manager { border: 0px; }

</style>
<div class="se-pre-con"></div>
<script>
  $(window).load(function() {
    $(".se-pre-con").fadeOut('slow');
  });
</script>
<%= stylesheet_link_tag 'display' %>
<style type="text/css">
  .video-js .vjs-big-play-button {
    z-index: 999;
    /*width: 15%;*/
    /*height: 26.7%;*/
    font-size: 0em;
    border: 0px;
    background: transparent !important;
    background-image: url(<%= image_url "big-play.png" %>) !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    -webkit-appearance: none !important;
  }
  .hole-bar ul li {
    display: inline-block;
    color:white;
    width:auto;
    border: solid transparent;
    border-width: 0 5px 0 0;
    border-right: 2.5px solid <%= @course.color_selector %>;
    padding: 1% 15px 1% 15px;
  }
  .playlist ul li.active {
    border-bottom: 4px solid <%= @course.color_selector %>;
  }

  .scorecard-drop h3{
    margin-left: 10px;
  }

  .tee_scr h3{
    padding-left: 5px;
    text-align: center;
  }

  .tee_button_drop{
    padding-left: 5px;
    text-align: center;
  }
  

  @media only screen and (min-width: 1200px) and (max-width: 1599px) {

    .hole-bar ul li span {
        /*font-size:2.2em;*/
        font-size:2.7em
      }
  }


  @media only screen and (min-width: 760px) and (max-width: 959px) {
  .hole-bar ul li span {
      /*font-size: 1.8em;*/
      font-size:2.1em
    }

  }
  @media only screen and (max-width: 760px) {
   .hole-bar ul li span {
      font-size: 3.9em;
    }

  }

  @media only screen and (min-width: 600px) and (max-width: 760px) {
    .hole-bar ul li span {
        font-size: 3.9em;
    }
  }
  
  @media only screen and (min-width: 1600px) {
    .hole-bar ul li {
      padding-top: 15px;
      padding-bottom: 4px;
      border-right: 5px solid <%= @course.color_selector %>;
    }
    .hole-bar ul li span {
      /*font-size:2.2em;*/
    font-size:2.7em;
    }

  }

  @media only screen and (min-width: 960px) and (max-width: 1199px) {
    .hole-bar ul li {
      border-right: 1.5px solid <%= @course.color_selector %>;
      padding: 1% 15px 1% 15px;
    }
    .hole-bar ul li span {
      /*font-size:2.2em;*/
     font-size:2.7em
    }
  }

  @media only screen and (min-width: 600px) and (max-width: 959px) {
    .hole-bar ul li {
      display: table-cell;
      text-align: center;
      border-right: 1.5px solid <%= @course.color_selector %>;
      padding: 1% 15px 1% 15px;
    }
    
  }

  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .hole-bar ul li {
      display: table-cell;
      text-align: center;
      border-right: 1px solid <%= @course.color_selector %>;
      padding: 1% 15px 1% 15px;
    }

    .hole-bar ul li span {
      font-size:3.9em;
    }
  }

  @media only screen and (max-width: 479px) {
    .vplayer ul li text{
      font-size: 3.5em;
    }
    .hole-bar ul li {
      top: 1%;
      position: relative;
      display: table-cell;
      text-align: center;
      border-right: 1px solid <%= @course.color_selector %>;
      padding: 1% 8px 1% 8px;
    }
    .on-video img {
    max-width: 50px;
    }

    .hole-bar ul li span {
      font-size:3.2em;
     
    }

    .image-cls{
    background: url('/assets/logo.png');
    height: 30px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
  } 

    .btn-cls{
    background-color: #ec3f3c;
    color: white;
    font-size: 10px;
    border-radius: 8px;
    border: 0px;
    font-weight: bold;
    padding-right: 25px;
    padding-left: 25px;
  }

  }
  .hole-home.active{
    background-color: #1d1e20;
    border-bottom: 4px solid <%= @course.color_selector %>;
  }

  .footer-cls{
    border-top: 3px solid #ec3f3c;
    background: url(<%= image_url "bar_background.png" %>) center !important ;
    min-height: 63px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-right: 40px;
  }

  .image-cls{
    height: 55px;
    width: 236px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    align-self: center;
  } 

  .btn-cls{
    background-color: #ec3f3c;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: 0px;
    font-weight: bold;
    padding-right: 35px;
    padding-left: 35px;
  }

@media only screen and (max-width: 768px){
    .image-cls {
    height: 35px;
    width: 140px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    align-self: center;
  }

  .btn-cls {
    background-color: #ec3f3c;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: 0px;
    font-weight: bold;
    padding-right: 30px;
    padding-left: 30px;
    width: auto;
    font-size: 10px;
    align-self: center;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }  

  .footer-cls{
    padding-right: 19px;
   }
}



</style>
<%= Gon::Base.render_data %>
    <% lead_url = @resort.lead_url %>
    <% if lead_url.nil? == false %>
      <% lead_url = (lead_url.include? "https://") ? lead_url : "https://"+lead_url%>
    <% else %>
      <% lead_url = ''%>
    <% end %>
    <div class = "main-container">
      <%= render "course_home_video_container" %>
      <div class = "hider"> </div>
      <%=render :partial => 'admin/score_cards/scorecard_modal'%>
      <div class="hole-info-div">
        <%= render 'course_information'%>
      </div>
    </div>
    <% if @resort.lead_generation.blank? %>
      <div class= 'footer-cls' style="border-top: <%= @resort.fore_line_color.present? ? "3px solid" + " "+ @resort.fore_line_color : "3px solid #ec3f3c" %>">
        <div style ="background: url('<%=@resort.logo.url.gsub("http", "https")%>');" class= 'image-cls'> </div>
        <button class= "btn-cls" onclick='redirect("<%=lead_url%>")' type="button" formtarget="_blank" style="background-color: <%= @resort.fore_btn_background.present? ? @resort.fore_btn_background : "#ec3f3c" %>"> <%= @resort.fore_btn_text.present? ? @resort.fore_btn_text : "BECOME A MEMBER" %> </button>
      </div>
    <% end %>
    <div class="signature pb-20">
      <div class='col-md-12 col-sm-12'>
        <div class='col-md-4 col-sm-4 col-xs-4 col-md-offset-8 col-sm-offset-8 col-xs-offset-8 p0'>
          <% unless @resort.hide_logo %>
            <%= link_to image_tag("signature_v3.png"), "https://foregolf.com", target: :_blank %>
          <% end %>
        </div>
      </div>
    </div>

<!-- JavaScript -->

<script type="text/javascript">
  function redirect(url){
    window.open(url);
  }
  $(function(){
    var player = videojs('home-vid');
    player.dispose();
    $(".player-container").remove();
    $(".main-container").prepend("<%= j render partial: 'course_home_video_container' %>");
  });
  window.mobilecheck = function() {
    var check = false;
    (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
    return check;
  };

  function showBars(){
    $(".hole-bar").animate({top: '1%'});
    showPlayerActions();
  }

  function progressColor(color){
   $('.vjs-play-progress').css({"background-color":color});
   $('.vjs-play-progress').css({"color":color});
   $('.video-js .vjs-volume-level').css({"background-color":color})
  }

  function showPlayerActions(){
    $(".logo").animate({top: '2%'});
    $(".previous").fadeIn();
    $(".next").fadeIn();
    $(".video-js .vjs-volume-control").fadeIn();
    $(".vjs-control-bar").animate({bottom: '1px'});
    $(".vjs-control-bar").css({opacity: '1'});
    $(".upper-gradient").animate({top: '0px'});
    xx = $(".vjs-playlist").outerHeight();
    xx-=2;
    $(".lower-gradient").animate({bottom: xx+'px'});
  }

  function hideBars(){
      $(".logo").animate({top: '-70px'});
      $(".previous").fadeOut();
      $(".next").fadeOut();
      $(".vjs-menu").fadeOut();
      $(".video-js .vjs-volume-control").fadeOut();
      //$(".video-js .vjs-menu .vjs-menu-content").fadeOut();

      if(window.innerWidth > 650 ){
        $(".vjs-control-bar").css({opacity: '0'});
        $(".upper-gradient").animate({top: '-70px'});
      }
      else{
        $(".vjs-control-bar").css({opacity: '0'});
        $(".upper-gradient").animate({top: '-40px'});
      }
      $(".lower-gradient").animate({bottom: '0px'});
      $(".hole-bar").animate({top: '-70px'});
  }
</script>
<%#= render 'display_file_full_js' %>

<!-- StyleSheet -->

