 <div> job <br> <%= @job %> </div> <br>
 <div> course <br> <%= @course %> </div> <br>

 <div> xh <br> <%= @xh %> </div> <br>
 <div> xh all <br> <%= @xh %> </div> <br>
 <div> holes <br> <%= @holes %> </div> <br>



<%= @holes %>