<%= Gon::Base.render_data %>
<%= csrf_meta_tags %>

<!-- Linkers -->

<link href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet">
<link href="https://rawgit.com/zealot128/Photo-Gallery/405996ca46b450acb9a66a9b164bafc30dc06d38/vendor/assets/stylesheets/videojs-playlist-ui.vertical.css" rel="stylesheet">

<script src="//vjs.zencdn.net/5.19/video.min.js"></script>
<script src="https://rawgit.com/atlance01/vrapp-ionic/master/www/js/lib/videojs-playlist.js"></script>
<script src="https://rawgit.com/zealot128/Photo-Gallery/405996ca46b450acb9a66a9b164bafc30dc06d38/vendor/assets/javascripts/videojs-playlist-ui.js"></script>


<!-- Body -->

 <div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      
      <div style="z-index: -1;">
        <video id="hole-vid" class="video-js vjs-default-skin vjs-big-play-centered" controls width="700px" height="400px"></video>
      </div>
      
      <div class="on-video">
        <button class="previous"><h1> < </h1></button>
        <button class="next"><h1> > </h1></button>
        <button class="flag"><%= image_tag "flag.png" %></button>
        <button class="eye"><%= image_tag "eye.png" %></button>
        <button class="logo"><%= image_tag "logo.png" %></button>
      </div>
      
      <div class="vjs-playlist">
      </div>
    </div>
  </div>
</div>

<!-- <button class="flag"><i class="fa fa-flag" aria-hidden="true"></i></button>
<button class="eye"><i class="fa fa-eye" aria-hidden="true"></i></i></button>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
 -->


<!-- JavaScript -->

<script type="text/javascript">
var videoList = []

// var videoList = [{
//   sources: [{
//     src: 'http://media.w3.org/2010/05/sintel/trailer.mp4',
//     type: 'video/mp4'
//   }],
//   poster: 'https://www.rt.com/static/img/og-logo-rt.png'
// }, {
//   sources: [{
//     src: 'http://media.w3.org/2010/05/bunny/trailer.mp4',
//     type: 'video/mp4'
//   }],
//   poster: 'http://media.w3.org/2010/05/bunny/poster.png'
// }, {
//   sources: [{
//     src: 'https://vjs.zencdn.net/v/oceans.mp4',
//     type: 'video/mp4'
//   }],
//   poster: 'https://vjs.zencdn.net/v/oceans.png'
// }, {
//   sources: [{
//     src: 'http://media.w3.org/2010/05/bunny/movie.mp4',
//     type: 'video/mp4'
//   }],
//   poster: 'http://media.w3.org/2010/05/bunny/poster.png'
// }, {
//   sources: [{
//     src: 'http://media.w3.org/2010/05/video/movie_300.mp4',
//     type: 'video/mp4'
//   }],
//   poster: 'http://media.w3.org/2010/05/video/poster.png'
// }];

for (var i = 0, len = gon.videos_urls.length; i < len; i++) {
  videoList.push({
    sources: [{
      src: gon.videos_urls[i],
      type: 'video/mp4'
    }]
  });
}

var player = videojs(document.querySelector('video'), {
  inactivityTimeout: 0
});

try {
  player.volume(1);
} catch (e) {}

player.playlist(videoList);

document.querySelector('.previous').addEventListener('click', function() {
  player.playlist.previous();
});
document.querySelector('.next').addEventListener('click', function() {
  player.playlist.next();
});
document.querySelector('.flag').addEventListener('click', function() {
  for (var i = 0, len = gon.videos.length; i < len; i++) {
    if (gon.tags[i].length > 0) {
      if (player.currentSrc().includes(gon.videos[i].video_file_name) && gon.videos[i].id == gon.tags[i][0].video_id) {
        player.currentTime(gon.tags[i][0].time);
      }
    }
  }
});

/* ADD PREVIOUS */
var Button = videojs.getComponent('Button');

var PrevButton = videojs.extend(Button, {
  constructor: function() {
    Button.apply(this, arguments);
    this.addClass('icon-angle-left');
    this.controlText("Previous");
  },

  handleClick: function() {
    player.playlist.previous();
  }
});

/* ADD NEXT */
var NextButton = videojs.extend(Button, {
  constructor: function() {
    Button.apply(this, arguments);
    this.addClass('icon-angle-right');
    this.controlText("Next");
  },

  handleClick: function() {
    player.playlist.next();
  }
});

/* ADD FLAG */
var FlagButton = videojs.extend(Button, {
  constructor: function() {
    Button.apply(this, arguments);
    this.addClass('icon-flag');
    this.controlText("Flag");
  },

  handleClick: function() {
    for (var i = 0, len = gon.videos.length; i < len; i++) {
      if (gon.tags[i].length > 0) {
        if (player.currentSrc().includes(gon.videos[i].video_file_name) && gon.videos[i].id == gon.tags[i][0].video_id) {
          player.currentTime(gon.tags[i][0].time);
        }
      }
    }
  }
});

// Play List Integral
// videojs(document.querySelector('video')).playlistUi();
player.playlistUi();


// Register the new component
videojs.registerComponent('NextButton', NextButton);
videojs.registerComponent('PrevButton', PrevButton);
videojs.registerComponent('FlagButton', FlagButton);
player.getChild('controlBar').addChild('PrevButton', {}, 0);
player.getChild('controlBar').addChild('NextButton', {}, 2);
player.getChild('controlBar').addChild('FlagButton', {}, 3);



</script>

<!-- StyleSheet -->

<style type="text/css">
  .video-holder,
  .video-holder * {
    box-sizing: border-box !important
  }

  .video-holder {
    background: #1b1b1b;
    padding: 10px
  }

  .centered {
    width: 100%
  }

  #video {
    border-radius: 8px
  }

  .video-holder .vjs-big-play-button {
    left: 50%;
    width: 100px;
    margin-left: -50px;
    height: 80px;
    top: 50%;
    margin-top: -40px
  }


  /* CUSTOM BUTTONS */
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
  }
  .icon-angle-left:before {
      content: "\f104";
  }
  .icon-angle-right:before {
      content: "\f105";
  }
  .icon-flag:before {
      content: "\f024";
  }

  .video-js .icon-angle-right, .video-js .icon-angle-left .icon-flag {
      cursor: pointer;
      -webkit-box-flex: none;
      -moz-box-flex: none;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none;
  }

  .on-video {
      /*margin-top: -400px;*/
      position: absolute;
      left: 8px;
      top: 8px;
      z-index: 5;

      height: 400px; 
      width: 700px;
      /*background-color: #ffffff;
      border: 1px solid black;
      */
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */

  }

  .previous{
    /*margin:top right down left;*/
    margin-top:180px; 
    float: left;
    background-color: #ffffff; 
    /*background-color:#808080;*/
    height: 100px; 
    width: 50px;
    opacity: 0.3;
    font-family: "Times New Roman", Times, serif;
  }
  .next{
    margin-top:180px;
    float: right;
    background-color: #ffffff; 
    height: 100px; 
    width: 50px;
    opacity: 0.3;
    font-family: "Times New Roman", Times, serif;
  }

.flag {
  display:block;
  margin-top:120px;
  margin-right: -40px;
  float: right;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;  
  background-color: transparent; 
}

.eye {
  display:block;
  margin-top:60px;
  margin-right: -50px;
  float: right;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;  
  background-color: transparent; 
}

.logo {
  display:block;
  position: absolute;
      left: 8px;
      top: 8px;
      z-index: 6;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;  
  background-color: transparent; 
}

img {
    max-width: 80%;
    max-height: 80%;
}

.vjs-playlist {
  border: 2px solid black; 
  width:700px; 
  height:200px;
}

</style>
