<style>
  .se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url(<%= asset_url('preloader.gif') %>);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
  }
</style>
<div class="se-pre-con"></div>
<script>
  $(window).load(function() {
    $(".se-pre-con").fadeOut('slow');
  });
</script>
<div class="clearfix"></div>
<div class="select_course_body clearfix">
	<% @courses.each do |course| %>
		<%= link_to embed_display_info_path(course), class: "play_button", data: { turbolinks: false} do %>
			<%= image_tag "big-play.png" %>
			<div class="col-md-12 course_list_item">
				<%= image_tag course.cover.url.gsub("http", "https") %>
				<div class="course_info">
					<h2 class="course_title"><%= course.name %></h2>
					<p class="course_description" title="<%= course.bio %>"><%= course.bio %></p>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
<div class="signature pb-20 select_course_footer">
  <div class='col-md-12 col-sm-12'>
    <div class='col-md-4 col-sm-6 col-xs-6 col-md-offset-8 col-sm-offset-6 col-xs-offset-6 p0'>
      <% unless @resort.hide_logo %>
        <%= link_to image_tag("signature_v3.png"), "https://foregolf.com", target: :_blank %>
      <% end %>
    </div>
  </div>
</div>
<style type="text/css">
	.play_button{
		position: relative;
		display: block;
		width: 100%;
		float: left;
	}
	.play_button > img{
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  z-index: 9;
	  max-width: 70px;
	}

	.select_course_body a:hover{
		background-color: white;
	}
</style>
<script>
$(document).ready(function(){
  $(".se-pre-con").fadeOut('slow');
})
</script>
