<h1>Editing Resort</h1>

<%#= render 'form', resort: @resort %>
<%= form_for(@resort, url: {controller: 'resorts', action: 'update'}, method: "put" ) do |form|%>
  <% if @resort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resort.errors.count, "error") %> prohibited this resort from being saved:</h2>

      <ul>
      <% @resort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :resort_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%#= link_to 'Show', @resort %> |
<%= link_to 'Back', admin_resorts_path %>
