<div class="col-md-12 course-info-row video_item" id="video_item_<%= video_index %>">
  <div class="col-md-4 form-group">
    <%= label_tag :title ,"Item ##{video_index + 1}",class: "col-md-12 zero-left-right-padd item_title", style: "width: auto;"%>
    <% if from_edit %>
      <div class="ordering_buttons">
        <%= link_to "", "javascript:void(0)", class: "btn btn-sm btn-primary glyphicon glyphicon-chevron-up reorder-up" %>
        <%= link_to "", "javascript:void(0)", class: "btn btn-sm btn-primary glyphicon glyphicon-chevron-down reorder-down" %>
      </div>
    <% end %>
    <%= hidden_field_tag "videos[#{video_index}][rank]", video_index + 1, class: "rank-field"%>
    <%= text_field_tag "videos[#{video_index}][title]", "", class:"col-md-12 form-control check-field", placeholder: "Item Title"%>
  </div>
  <div class="col-md-4">
    <%= label_tag :video ,'Video',class:"col-md-12 zero-left-right-padd "%>
    <div class="clearfix"></div>
    <div class="btn btn-success upload-btn">
      <div class="cover-label">
        <%= file_field_tag "videos[#{video_index}][video]", class: 'check-field cover-field' %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= label_tag :thumbnail_image ,'Thumbnail Image', class: "col-md-12 zero-left-right-padd"%>
    <div class="clearfix"></div>
    <div class="btn btn-success upload-btn">
      <div class="cover-label">
        <%= file_field_tag "videos[#{video_index}][thumbnail_image]", class: 'check-field cover-field' %>
      </div>
    </div>
  </div>

  <div class="col-md-12 form-group">
    <div class="col-md-4" style="padding-left: 0px; padding-right: 21px;">
      <%= label_tag :bio ,'Description',class:"zero-left-right-padd"%>
      <%= text_area_tag "videos[#{video_index}][description]", "", rows: "4", class: 'form-control check-field'%>
    </div>
    <!-- <div class="col-md-8 form-group">
      <button type="button" class="btn btn-danger pull-right mar-top-50 remove_item" href="javascript:void(0)">Remove</button>
    </div> -->
  </div>
</div>
<!-- <script type="text/javascript">
  // $(function(){
  //   $(".remove_item").on('click', function(){
  //     $(this).closest('div.video_item').remove();
  //   });
  // });
</script> -->