<div id="course-page-content-wrapper" class="col-md-12" style="margin-top: 0px;">
  <%= form_for(@course, url: url_for(controller: 'courses', action: 'update'), method: :put, :html => { :multipart => true }) do |f| %>
    <div class="col-md-12 course-info-row">
      <div class="col-md-12">
        <h4>Course Information</h4>
      </div>
      <div class="col-md-4 form-group">
        <%= label_tag :name ,'Name',class:"col-md-12 zero-left-right-padd"%>
        <%= f.text_field :name , class:"col-md-12 form-control check-field", placeholder: "Full name of course"%>
      </div>

      <div class="col-md-4 cover-first-row-photos bucket">
        <%= label_tag :cover ,'Cover Photo',class:"col-md-12 zero-left-right-padd "%>
        <div class="cover-label">
          <%= f.file_field :cover, class: 'btn btn-success upload-btn check-field cover-field' %>
          <% cover_file_name = Course.find(params[:id]).cover%>
        </div>
        <div class="cover image-division">
          <% if cover_file_name.exists? %>
            <span class="close-cross">&times;</span>
            <img src="<%=cover_file_name.url%>" class="course-logo-image cimage" id="<%=params[:id]%>" name="cover">
          <% end %>
        </div> 
      </div>

      <div class="col-md-4 second-row-photos">
        <%= label_tag :photos ,'Photos',class:"col-md-12 zero-left-right-padd "%>
        <div class="clearfix"></div>
        <div class="btn btn-success upload-btn">
          <%= file_field_tag "images[]", type: :file, multiple: true, class: 'course-photos-field' %>
          <% course_photo_url = Course.find(params[:id]).course_images%>
          <div class="temp-photos-collection"></div>
          <div class="photos-collection">
            <% course_photo_url.each do |course_photo|%>
              <div class="photo-division">
                <span class="close-photos">&times;</span>
                <img src="<%=course_photo.photo.url%>" class="course-photo-images" id="<%=course_photo.id%>">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 course-info-row">
      <div class="col-md-4 form-group">
        <%= label_tag :bio ,'Bio',class: "col-md-12 zero-left-right-padd"%>
        <%= f.text_area :bio, rows: "4", class: 'col-md-12 form-control check-field'%>
      </div>
      <div class="col-md-4 form-group">
        <%= label_tag :color_selector ,'Color Selector',class:"col-md-12 zero-left-right-padd"%>
        <%= f.text_field :color_selector, class: "col-md-12 form-control check-field", placeholder: "Color Selector" %>
      </div>
    </div>
    <div class="col-md-12 course-info-row">
      <h4 class="col-md-4">Playlist</h4>
      <% @course.videos.each_with_index do |video, index| %>
        <% if video.id.present? %>
          <div class="col-md-12 course-info-row video_item" id="video_item_<%= index %>">
            <div class="col-md-4 form-group">
              <%= label_tag :title ,"Item ##{index + 1}",class:"col-md-12 zero-left-right-padd"%>
              <%= text_field_tag "course_video[#{video.id}][title]", video.title, class: "col-md-12 form-control check-field", placeholder: "Item Title"%>
            </div>
            <div class="col-md-4">
              <%= label_tag :video ,'Video',class: "col-md-12 zero-left-right-padd "%>
              <div class="clearfix"></div>
              <div class="btn btn-success upload-btn">
                <div class="cover-label">
                  <%= file_field_tag "course_video[#{video.id}][video]", class: 'check-field cover-field' %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <%= label_tag :thumbnail_image ,'Thumbnail Image', class: "col-md-12 zero-left-right-padd"%>
              <div class="clearfix"></div>
              <%= image_tag (video.thumbnail_image.url), style: "width: 130px;"%>
            </div>

            <div class="col-md-12 form-group">
              <div class="col-md-4" style="padding-left: 0px; padding-right: 21px;">
                <%= label_tag :bio ,'Description',class:"zero-left-right-padd"%>
                <%= text_area_tag "course_video[#{video.id}][description]", video.description, rows: "4", class: 'form-control check-field'%>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= render 'videos_form', video_index: @course.videos.count + 1 %>
      <div class="col-md-12">
        <button type="button" class="btn btn-info btn-add" id='add_playlist' href="javascript:void(0)">+</button>
        <button type="button" class="btn btn-info btn-add" id='remove_playlist' href="javascript:void(0)" style="display: none;">-</button>
      </div>
    </div>
    <div class="col-md-12 actions">
      <%= f.submit "Update", class: 'btn btn-primary' %>
      <%= link_to 'Back', admin_resort_courses_path(@course.resort) %>
    </div>
  <%end%>

  <%#= render :partial => 'admin/resorts/new_modal' %>
  <%#= render :partial => 'admin/networks/new_modal' %>
</div>



<script type="text/javascript">
  var video_index = <%= @course.videos.count + 1 %>;
  $("#add_playlist").on('click', function(){
    video_index ++;
    $.ajax({
      url: "<%= admin_add_playlist_item_path %>",
      type: "GET",
      data: {video_index: video_index}
    });
  })

  $("#remove_playlist").on('click', function(){
    video_index --;
    var last_video_element = $(".video_item").last();
    $(last_video_element).remove();
    if ($(".video_item").length == 1){
      $("#remove_playlist").hide();
    }
  })
</script>
