
<% content_for :side_nav do %>
  <%= render :partial => 'admin/courses/side_nav' %>
<% end %>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.js"></script>

<div id="course-page-content-wrapper" class="col-md-12" style="margin-top: 0px;">
  <%= form_for @resort, url: {controller: 'courses', action: 'create'}, method: "post", :html => { :multipart => true, class: "resort_course_form" } do |f|%>
    <%= hidden_field_tag :resort_id, @resort.id %>
    <div class="col-md-12">
      <div class="col-md-12">
        <h4 class="col-md-4">Client Information</h4>
      </div>
      <div class="basic-course-info">
        <div class="col-md-12 course-info-row">
          <div class="col-md-4 form-group">
            <%= label_tag :name ,'Name',class: "col-md-12 zero-left-right-padd"%>
            <%= f.text_field :name , class: "col-md-12 form-control check-field", placeholder: "Full name of Client"%>
          </div>
          <div class="col-md-8 form-group">
            <%= f.fields_for :location do |location_form| %>
              <%= render 'admin/locations/form.html.erb', location_form: location_form %>
            <% end %>
          </div>
        </div>
        <div class="col-md-12 course-info-row">
          <div class="col-md-4">
            <%= label_tag :course_type ,'Client Type',class: "col-md-12 zero-left-right-padd" %>
            <%= check_box_tag 'resort[resort_type]' ,'is_public',false ,class: 'checkbox check-field inline', id: 'course_type_public' %>
            <span class="inline">Public</span>
            <div class="inline">
              <%= check_box_tag 'resort[resort_type]' ,'is_private',false ,class: 'checkbox check-field inline', id: 'course_type_private' %>
              <span class="inline">Private</span>
            </div>
            <div class="inline">
              <%= check_box_tag 'resort[resort_type]' ,'is_semi_private',false ,class: 'checkbox check-field inline', id: 'course_type_semi_private' %>
              <span class="inline">Semi-Private</span>
            </div>
          </div>
          <div class="col-md-4">
            <%= label_tag :course_type ,'',class:"col-md-12 zero-left-right-padd", style: "min-height: 25px;" %>
            <%= select_tag('network',options_for_select(Network.all.pluck(:name, :id)), options = {prompt: 'Network',class:'dropdown-padd dropdown form-control inline' , style: 'width:50%;' , name: 'resort[network_id]'}) %>
            <button type="button" class="btn btn-info btn-add" id='add-network' data-toggle="modal" data-target="#new_network">+</button>
            <%= link_to "Edit List", admin_networks_path %>
          </div>
          <div class="col-md-4 form-group">
            <%= label_tag :contact_info, 'Contact Info',class:"col-md-12 zero-left-right-padd"%>
            <%= f.text_field :website, class:"col-md-12 form-control contact-info check-field", placeholder: "Website" %>
            <%= f.text_field :phone_num, class:"col-md-12 form-control contact-info check-field", placeholder: "Phone Number" %>
          </div>
          <div class="col-md-4 form-group">
            <%= f.check_box :hide_logo %>
            <%= label_tag :hide_logo ,'Hide Logo'%>
          </div>
          <div class="col-md-8 form-group">
            <%= f.check_box :hide_about_course %>
            <%= label_tag :hide_about_course ,'Hide About Course Info'%>
          </div>
        </div>
        <div class="col-md-12 green-separator"></div>
        <%= f.fields_for :courses, Course.new do |course_form| %>
          <div class="col-md-12">
            <h4 class="col-md-4">Course Information</h4>
            <%= render 'admin/courses/course_form', ff: course_form %>
          </div>
          <div class="col-md-12">
            <h4 class="col-md-4">Playlist</h4>
            <%= render 'admin/courses/videos_form', video_index: 0, from_edit: false %>
            <div class="col-md-12">
              <button type="button" class="btn btn-info btn-add" id='add_playlist' href="javascript:void(0)">+</button>
              <button type="button" class="btn btn-info btn-add" id='remove_playlist' href="javascript:void(0)" style="display: none;">-</button>
            </div>
          </div>

          <div class="col-md-12 zero-left-right-padd">
            <h4 class="col-md-4">Scorecard</h4>
            <%= render 'admin/courses/scorecard_form', scorecard_index: 0, from_edit: false %>
            <div class="col-md-12">
              <button type="button" class="btn btn-info btn-add" id='add_scorecard' href="javascript:void(0)">+</button>
              <button type="button" class="btn btn-info btn-add" id='remove_scorecard' href="javascript:void(0)" style="display: none;">-</button>
            </div>
          </div>
        <% end %>
        <div class="text-center">
          <%= f.submit "Next", class: "btn btn-primary", style: "margin-left:20px;", id: "save_client" %>
          <div class="progress" style="display: none;">
              <div class="bar"></div >
              <div class="percent">0%</div >
          </div>

          <!-- <div id="status"></div> -->
        </div>
        <div class="col-md-12 errors-div"></div>
      </div>
    </div>
  <%end%>
  <%= render :partial => 'admin/resorts/new_modal' %>
  <%= render :partial => 'admin/networks/new_modal' %>
</div>
<script type="text/javascript">
var video_index = 0;
var scorecard_index = 0;
$("#add_playlist").on('click', function(){
  video_index ++;
  $.ajax({
    url: "<%= admin_add_playlist_item_path %>",
    type: "GET",
    data: {video_index: video_index, from_edit: false}
  });
})

$("#remove_playlist").on('click', function(){
  video_index --;
  var last_video_element = $(".video_item").last();
  $(last_video_element).remove();
  if ($(".video_item").length == 1){
    $("#remove_playlist").hide();
  }
})
$("#add_scorecard").on('click', function(){
  scorecard_index ++;
  $.ajax({
    url: "<%= admin_add_scorecard_path %>",
    type: "GET",
    data: {scorecard_index: scorecard_index, from_edit: false}
  });
})

$("#remove_scorecard").on('click', function(){
  scorecard_index --;
  var last_scorecard = $(".scorecard").last();
  $(last_scorecard).remove();
  if ($(".scorecard").length == 1){
    $("#remove_scorecard").hide();
  }
});

$('#save_client').on('click', function(){
  $(this).addClass('disabled');
  $(this).text('Processing..');
});

$(function() {

var bar = $('.bar');
var percent = $('.percent');
//var status = $('#status');

$('form.resort_course_form').ajaxForm({
    beforeSend: function() {
      //status.empty();
      $("#save_client").hide();
      $(".progress").show();
      var percentVal = '0%';
      bar.width(percentVal)
      percent.html(percentVal);
    },
    uploadProgress: function(event, position, total, percentComplete) {
      var percentVal = percentComplete + '%';
      bar.width(percentVal)
      percent.html(percentVal);
    //console.log(percentVal, position, total);
    },
    success: function() {
      percent.html("Processing...");
    },
  complete: function(xhr) {
    percent.html("Processing...");
  }
});

});
</script>
