

<div class="container">

<% content_for :side_nav do %>
  <%= render :partial => 'admin/shared/side_nav' %>
<% end %>

  <div class="panel panel-default">
    <h2><%=@course.name%> Hole List</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        
        <table class="table table-striped">
          <thead>
            <tr>
              <th>HOLE NUMBER</th>
              <th>VIDEO</th>
            </tr>
          </thead>

          <tbody>
            <% @course.holes.each_with_index do |hole, index| %>
              <tr>
                <td><%= "Hole " + hole.try(:hole_num).to_s  %></td>
                <%if hole.video.present?%>
                  <td><%=link_to hole.try(:video).try(:video_file_name), admin_video_path(hole.video)%></td>
                <%else%>
                  <td><button type="button" class="btn btn-success upload-btn" data-toggle="modal" data-target=<%= "#hole-#{index + 1}-vid-upl-modal" %> >Upload Video</button></td>
                <%end%>
                
              </tr>
            <% end %>
          </tbody>
        </table>      

      </div>
    </div>
  </div>


  <%@course.holes.each_with_index do |hole, index|%>
    <%=render :partial => 'admin/holes/video_upload_modal' , locals: {hole: hole,  hole_num: index + 1 } %>
  <%end%>

  
</div>


