<%res.each do |r|%>
    <%if klass == "course" %>
        <tr>
          <td><%= image_tag (r.cover.url), style: "width: 50px;" %></td>
          <td><%= link_to r.name, admin_course_path(r) %></td>
          <td><%= link_to 'Edit', edit_admin_course_path(r) %> | <%= link_to 'Delete', admin_course_path(r), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          
        </tr>
    <%elsif klass == "user"%>
        <tr>
            <td><%= r.name %></td>
            <td><%= r.created_at %></td>
            <td><%= r.email %></td>
            <td>
              <span><%= link_to 'Edit Account Details', "#"%></span>
            </td>
        </tr>
    <% elsif klass == "resort" %>
        <tr>
          <td><%= link_to r.name, admin_resort_courses_list_path(r) %></td>
          <td><%= r.try(:formated_location) %></td>
          <td><%= r.try(:course_type) %></td>
          <td><%= r.courses.count %></td>
          <td><%= link_to 'Edit', edit_admin_resort_path(r) %> | <%= link_to 'Delete',admin_resort_path(r), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          
        </tr>
    <%end%>
<%end%>