<!DOCTYPE html>
<html>
  <head>
    <title>ForeWebapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   </head>

  <body>
    <%= yield :side_nav %>
    
    <div id="course-page-content-wrapper" class="col-md-10">
        <%= yield %>
    </div>
    </div>
    </div>
  </body>
</html>
